* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  display: block;
}

.body_part {
  padding: 30%;
  background-color: #f0e8e5;
}

header {
  border-bottom: 1px solid #686565;
  background-color: #d9d9d9;
  font-size: 3rem;
  display: flex;
  padding-top: 1%;
  flex-flow: column;
}

.menu-toggle a {
  font-size: 3rem;
  text-decoration: none;
  color: #686565;
}

footer {
  border: 1px solid #686565;
  background-color: #d9d9d9;
  padding: 2%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

footer img {
  width: 2.2rem;
  height: 2.2rem;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block; /*helps people to put blocks on aline*/
}

footer p {
  font-size: 1rem;
  color: #686565;
}

.menu-toggle {
  font-size: 0.8rem;
  text-align: center;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
}

.menu_icon {
  cursor: pointer;
  font-size: 2.7rem;
}

.nav-menu {
  display: none;
  padding-left: 0%;
}

.nav-menu.active {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
}

.nav-menu ul {
  list-style-type: none;
  display: block;
  padding: 0%;
}

.nav-menu li {
  display: block;
}

.nav-menu li a {
  color: #686565;
  text-decoration: none;
}

.nav-menu li a:hover {
  border-bottom: 1px solid #d9d9d9;
  background-color: #686565;
}

.body-content {
  display: flex;
  background-color: #f0e8e5;
  flex-direction: column;
}

.body-content ul {
  display: block;
  padding-bottom: 0%;
}

.body-content img {
  width: 90%;
  margin: 5%;
  box-shadow: 5px 5px 10px #000000;
  /* height: 3rem; */
}

.body_miami {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  background-color: #f0e8e5;
  flex-direction: column;
}

.body_miami ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.body_miami h1 {
  text-align: center;
  margin-top: 3%;
  color: #686565;
  text-shadow: 3px 3px 6px #686565;
  font-size: 4rem;
}

#about {
  display: flex;
  background-color: #f0e8e5;
  flex-direction: column;
}

#about h1 {
  color: #686565;
  text-shadow: 3px 3px 6px #686565;
  margin-top: 3%;
  margin-left: 3%;
  background-color: #f0e8e5;
  font-size: 2.5rem;
}

#about img {
  width: 35%;
  margin: 5%;
  box-shadow: 3px 3px 6px #686565;
  border-radius: 0.6rem; /*creates soft cornered boxes*/
}

#about p {
  text-wrap: pretty;
  margin: auto 4%;
  text-align: justify; /*covers all the line and adjust spaces between words*/
  margin-bottom: 4%;
}

.body_miami img {
  width: 90%;
  margin: 5%;
  box-shadow: 3px 3px 6px #686565;
  border-radius: 0.6rem;
}

.body_miami p {
  text-wrap: pretty;
  margin: auto 4%;
  text-align: center;
}

.body-content li:hover img {
  /* z-index: 1; */
  display: block;
  background-color: #686565;
  opacity: 0.3;
  transition: 0.5s ease; /*add slow transition for hower*/
  box-shadow: 5px 5px 10px #000000;
}

.middle {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  top: 19%;
  left: 34%;
  text-align: center;
}

.middle2 {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute; /*takes element out of regular possitonning*/
  top: 70%;
  left: 34%;
  text-align: center;
}

.key:hover .middle {
  opacity: 1;
}

.mt:hover .middle2 {
  opacity: 1;
}

.miami {
  color: white;
  font-size: 2rem;
  padding: 16px 32px;
  font: bold;
}

.miami a {
  text-decoration: none;
  color: #ffffff;
}

.montana {
  color: white;
  font-size: 2rem;
  padding: 16px 32px;
  font: bold;
}

.montana a {
  text-decoration: none;
  color: #ffffff;
}

.body-content li {
  list-style-type: none;
  text-decoration: none;
}

.body-content img {
  border-radius: 2rem;
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/GUGU4516.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1024px;
    margin: 10px auto;
    border: 1px solid #686565;
  }

  header {
    display: flex;
    flex-flow: column;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    padding: 0%;
  }

  .menu-toggle img {
    display: none;
  }

  .menu_icon {
    display: none;
  }

  .menu-toggle h1 {
    margin: 0%;
    padding: 0%;
  }

  .nav-menu.active {
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }

  .nav-menu.active ul {
    display: contents;
    font-size: 1.8rem;
  }

  .nav-menu.active li {
    display: flex;
    margin: 1% 5%;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-menu a {
    font-size: 2rem;
  }

  .middle {
    opacity: 0;
    transition: 0.4s ease;
    position: absolute;
    top: 34%;
    left: 45%;
    text-align: center;
  }

  .miami a {
    text-decoration: none;
    color: #ffffff;
    font-size: 3rem;
  }

  .middle2 {
    opacity: 0;
    transition: 0.4s ease;
    position: absolute;
    top: 120%;
    left: 45%;
    text-align: center;
  }

  .montana a {
    text-decoration: none;
    color: #ffffff;
    font-size: 3rem;
  }
}
