* {
  margin: 0px;
  padding: 0px;
}

.body_part {
  padding: 30%;
  background-color: #f0e8e5;
}

header {
  border-bottom: 1px solid #686565;
  background-color: #d9d9d9;
  font-size: 3em;
  /* margin: auto; */
  display: flex;
  padding-top: 1%;
  /* padding-bottom: 1%; */
  flex-flow: column;
  /* justify-content: space-between; */
  /* text-align: center; */
  /* justify-content: flex-start; */
}
.menu-toggle a {
  font-size: 3rem;
  text-decoration: none;
  color: #686565;
}

h1 {
  font-size: 3rem;
  text-align: center;
  background-color: #d9d9d9;
  /* margin-right: 44%; */
  /* margin-left: 35%; */
}

footer {
  border: 1px solid #686565;
  background-color: #d9d9d9;
  padding: 2%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

img {
  width: 2.2rem;
  height: 2.2rem;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-around;
  /* margin: auto; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
}

li {
  display: inline-block;
  /* margin-left: 18%; */
  /* margin-top: 2%; */
  /* margin-right: 5%; */
}

footer p {
  font-size: 1em;
  color: #686565;
}

.menu-toggle {
  font-size: 0.8em;
  /* flex-flow: column; */
  text-align: center;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
}

.menu_icon {
  cursor: pointer;
}

.nav-menu {
  display: none;
  padding-left: 0%;
}

.nav-menu.active {
  display: flex;
  justify-content: flex-start;
  font-size: 0.7em;
  /* padding-right: 10%; */
}

.nav-menu ul {
  list-style-type: none;
  /* margin-top: 1.4em; */
  display: block;
  padding: 0%;
}

.nav-menu li {
  display: block;
}

.nav-menu li a {
  color: #686565;
  text-decoration: none;
}

.nav-menu li a:hover {
  border-bottom: 1px solid #d9d9d9;
  background-color: #686565;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    padding: 0%;
  }

  .menu-toggle img {
    display: none;
  }

  .menu_icon {
    display: none;
  }

  .menu-toggle h1 {
    margin: 0%;
    padding: 0%;
  }

  .nav-menu.active {
    font-size: 3rem;
  }

  .nav-menu.active ul {
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
    /* padding-right: 10%; */
  }

  .nav-menu {
    display: block;
  }

  .nav-menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-menu a {
    font-size: 0.7em;
  }
}
