* {
    margin: 0px;
    padding: 0px;
}
.body_part {
    padding: 30%;
    background-color: #F0E8E5;
}

header {
    border-bottom: 1px solid #686565;
    background-color: #D9D9D9;
    font-size: 45px;
    /* padding-left: 46.4%; */
    margin: auto;
    display: flex;
    padding-top: 1%;
    padding-left: 46.4%;
    padding-bottom: 1%;
    flex-flow: row;
    justify-content: space-between;
    
}

.menu-toggle {
    padding-right: 5%;
    cursor: pointer;
    
}

footer {
    border: 1px solid #686565;
    background-color: #D9D9D9;
    padding: 2%;

}

ul {
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}

li {
    display: inline-block;
    /* margin-left: 18%; */
    margin-top: 2%;
    /* margin-right: 5%; */
}

p {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 40% auto; */
    padding-left: 38.6%;
    /* margin-left: 0 auto; */
    /* padding-right: 10%; */
    font-size: medium;
    color: #686565;
}